<!-- <div class="container" *ngFor="let producto of productos"> -->

  
  <!-- <article class="message" *ngFor="let producto of productos">
    <div class="message-header">
      <p class="subtitle white">{{producto.nombreProducto}}</p>
    </div>
    <div class="message-body">
      {{producto.descripcion}}
      <br> Precio: {{producto.precio}} €
      <div class="message-footer">
        <button  class="button is-info">Añadir al carrito</button>
      </div>
    </div>
  </article> -->
  <!-- <div class="card" style="width: 18rem;" >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{producto.nombreProducto}}</h3>
      <h5 class="card-title">{{producto.precio}}</h5>
      <p class="card-text">{{producto.descripcion}}</p>
      <a href="#" class="btn btn-primary">Agregar al Carrito</a>
    </div>
  </div> -->

  <div class="container" >
    <h3>Catálogo</h3>
    <div class="row" >
        <a href="#" *ngFor="let producto of productos" style="padding-bottom: 25px;">
            <div class="col-md-3 col-sm-4 col-xs-6" >
                <img class="img-responsive" src="https://videotutoriales.com/maspa/maspa1.jpg">
                <!-- <div class="card-body">
                    <h3 class="card-title">{{producto.nombreProducto}}</h3>
                    <h5 class="card-title">{{producto.precio}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                  </div> -->
            </div>
            <a href="#" class="btn btn-primary" style="display: block;">Agregar al Carrito</a>
            
        </a>
    </div>
</div>
<!-- </div> -->
